@import './main.scss';
@import './variables';
.entry {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-form {
        &__header,
        &__body {
            width: -webkit-fill-available;
            display: flex;
            flex-direction: row;
            padding: 5px 110px;
        }
        &__footer {
            width: -webkit-fill-available;
            padding: 5px 110px;
            display: flex;
            flex-direction: column;
        }
    }
}

.form {
    &,
    &-select {
        width: 300px;
        height: 30px;
        border-radius: 8px;
        text-align: center;
    }
    &-select {
        width: min-content;
    }
    &-comment {
        width: 300px;
        height: 60px;
    }
    &-llanta {
        width: min-content;
        height: 30px;
        border-radius: 8px;
        text-align: center;
        &__select {
            height: 30px;
            border-radius: 8px;
            text-align: center;
        }
    }
}

.buttons {
    &-save,
    &-clean {
        width: 82px;
        height: 35px;
        border-radius: 8px;
        border: none;
        font-size: $font-button;
        color: white;
        margin: 25px 5px;
    }
    &-save {
        background-color: $blue;
    }
    &-clean {
        background-color: $blue;
    }
}

.aling {
    &__input {
        display: flex;
        flex-direction: column;
        margin: 0 5px;
    }
}

.content__table {
    display: flex;
    padding: 5px 110px;
    // justify-content: center;
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th,
    td {
        text-align: left;
        padding: 8px;
    }
    tr:nth-child(even) {
        background-color: $ligthgray;
    }
    th {
        background-color: $gray;
        color: white;
    }
}