@import './variables';

.main{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 92vh;
	background: $Azul;

	.section{
		&_logo{
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			width: 100vw;
			height: 15vh;

			img{
				width: 80px;
				height: 80px;
				@media only screen and (min-width: 768px){
					width: 150px;
					height: 150px;
				}
				@media only screen and (min-width: 1024px){
					width: 195px;
					height: 195px;
				}
			}

			@media screen and (min-width: 768px){
				width: 20vw;
				height: 92vh;
				flex-direction: column;
				justify-content: end;
			}
			@media only screen and (min-width: 1024px){
				width: 15vw;
				height: 92vh;
			}
		}

		&_content{
			width: 80vw;
			display: flex;
			flex-direction: column;

			&-nav{
				width: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				.title{
					visibility: hidden;

					@media screen and (min-width: 768px){
						visibility: visible;
						display: flex;
						justify-content: center;
						align-items: center;
						width: 100%;
						height: 8vh;
						background: #126180;
					}
				}
	
				$burger--thickness: 4px;
				.burger {
					width: 28px;
					display: inline-block;
					border: 0;
					background: none;
					outline: 0;
					padding: 0;
					cursor: pointer;
					border-bottom: $burger--thickness solid currentColor;
					transition: border-bottom 1s ease-in-out;
					-webkit-transition: border-bottom 1s ease-in-out; 

					// Fix for extra space in Firefox
					&::-moz-focus-inner {
						border: 0;
						padding: 0;
					}	 

					&:before {
						content: "";
						display: block;
						border-bottom: $burger--thickness solid currentColor;
						width: 100%;
						margin-bottom: 5px;
						transition: transform 0.5s ease-in-out;    
						-webkit-transition: -webkit-transform 0.5s ease-in-out;        
					}

					&:after {
						content: "";
						display: block;
						border-bottom: $burger--thickness solid currentColor;
						width: 100%;
						margin-bottom: 5px;
						transition: transform 0.5s ease-in-out;
						-webkit-transition: -webkit-transform 0.5s ease-in-out;
					}

					@media screen and (min-width: 768px) {
						visibility: hidden;
					}
				}

				.burger-check {
					display: none;
				}

				.burger-check:checked ~ .burger {
					position: absolute;
					top: 10px;
					border-bottom: $burger--thickness solid transparent;
					transition: border-bottom 0.9s ease-in-out;
					-webkit-transition: border-bottom 0.9s ease-in-out;

					&:before {
						transform: rotate(-405deg) translateY(1px) translateX(-3px);
						-webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px);      
						transition: transform 0.5s ease-in-out;
						-webkit-transition: -webkit-transform 0.5s ease-in-out;
					}

					&:after {
						transform: rotate(405deg) translateY(-4px) translateX(-5px); 
						-webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px);       
						transition: transform 0.5s ease-in-out;
						-webkit-transition: -webkit-transform 0.5s ease-in-out;
					}
				}
				// * * * Navigation * * *
				$navigation__transition: max-height 0.5s ease-out;

				.navigation {
					width: 100%;
					height: 100%;
					overflow: hidden;
					background-color: rgba(117, 116, 113, 0.95);
					max-height: 0;
					transition: $navigation__transition;
					position: absolute;

					@media screen and (min-width: 768px) {
						display: flex;
						justify-content: center;
						overflow: visible;
						width: 100%;
						height: 64px;
						max-height: 64px;
						background-color: rgba(255, 191, 0, 0.788);;
						color: #126180;
						position: initial;
						flex-direction: row;
						transition: none;
					}
				}

				.burger-check:checked ~ .navigation {
					max-height: 550px;
					transition: $navigation__transition;
					position: absolute;
					top: 30px;
				}
				// * * * Demo * * *
				ul {
					margin: 0;
					padding: 0;
					@media screen and (min-width: 768px) {
						display: flex;
						justify-content: center;
						flex-direction: row;
					}
				}

				li {
					list-style: none;
					font-size: 20px;
					padding: 5px 0;
					a {
						font-size: .85em;
						text-decoration: none;
						color: rgba(255, 191, 0, 0.788);
						font-size: .75em;

						&:hover {
							background: #126180;
							color: #FFBF00;
						}  
						
						@media screen and (min-width: 768px) {
							padding: 25px 17px;
							color: #126180;
						}
					}

					@media screen and (min-width: 768px) {
						display: flex;
						flex-direction: row;
					}
				}
			}
			.area_trabajo{
				width: 100%;
				height: 450px;
				margin-top: 10px;
				background: $Amarillo;

				@media only screen and (min-width: 768px){
					height: 460px;
				}
			}
			
			@media screen and (min-width: 768px){
				width: 78vw;
				height: 92vh;
				flex-direction: column;
			}
		}
	}
	@media screen and (min-width: 768px){
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}
}

.footer{
	width: 100vw;
	text-align: center;
	margin: 5px 0 0 0 ;
}

.item{
	&_title{
		color: #FFBF00;

		&-2{
			color: aqua;
			@media screen and (min-width: 768px){
				visibility: hidden;
			}
		}
	}
}