@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  *::-webkit-scrollbar {
    width: 8px;
    /* Tamaño del scroll en vertical */
    height: 8px;
    /* Tamaño del scroll en horizontal */
    display: none;
    /* Ocultar scroll */ }

body,
html {
  font-family: 'Libre Baskerville', serif;
  overflow-x: hidden; }
