* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body,
html {
  font-family: 'Libre Baskerville', serif;
  overflow-x: hidden; }

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body,
html {
  font-family: 'Libre Baskerville', serif;
  overflow-x: hidden; }

.navbar {
  margin: 0;
  width: 100%;
  height: 100vh;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(185, 71, 76, 0.705)), to(rgba(8, 9, 83, 0.22))), url(../img/tire.jpg);
  background-image: -webkit-linear-gradient(right, rgba(185, 71, 76, 0.705), rgba(8, 9, 83, 0.22)), url(../img/tire.jpg);
  background-image: -o-linear-gradient(right, rgba(185, 71, 76, 0.705), rgba(8, 9, 83, 0.22)), url(../img/tire.jpg);
  background-image: linear-gradient(to left, rgba(185, 71, 76, 0.705), rgba(8, 9, 83, 0.22)), url(../img/tire.jpg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat; }
  .navbar-logo {
    position: relative;
    color: #FFFFFF;
    padding: 20px;
    border: 2px solid #FFFFFF;
    border-bottom: 0; }
    .navbar-logo__title {
      font-size: 3.95em;
      letter-spacing: 10px; }
    .navbar-logo__subtitle {
      position: relative;
      top: 29px;
      color: #FFFFFF; }
      .navbar-logo__subtitle::before, .navbar-logo__subtitle::after {
        content: '';
        position: absolute;
        width: 44px;
        height: 2px;
        background-color: currentColor;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
      .navbar-logo__subtitle::before {
        left: 151px; }
      .navbar-logo__subtitle::after {
        right: 151px; }
  .navbar-flecha {
    color: #FFFFFF;
    margin-bottom: 15px;
    cursor: pointer; }

@media only screen and (min-width: 768px) {
  .navbar {
    padding: 15% 9.2% 0 9.2% !important;
    line-height: 1;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px); } }

.description {
  background-color: #ff9c00;
  color: #FFFFFF; }
  .description__title {
    padding: 35px 20px;
    font-size: 1.2em; }
  .description .appearence, .description .mileage, .description .performance, .description .cost {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 10px; }

.information {
  margin-bottom: 10px; }
  @media only screen and (min-width: 768px) {
    .information {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; } }
  .information-store {
    width: 100vw;
    margin: 0; }
    @media screen and (min-width: 768px) {
      .information-store {
        margin: 0; } }
    .information-store__logo {
      background-color: #ff9c00;
      width: 200px;
      height: 200px;
      border-radius: 274px; }
      @media only screen and (min-width: 768px) {
        .information-store__logo {
          visibility: hidden;
          height: 0; } }
      @media only screen and (min-width: 1024px) {
        .information-store__logo {
          visibility: visible;
          height: 200px; } }
      @media only screen and (min-width: 1440px) {
        .information-store__logo {
          width: 400px;
          height: 400px;
          border-radius: 374px; }
          .information-store__logo img {
            width: 245px;
            height: 245px; } }
    .information-store-content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-top: 5px; }
      @media only screen and (min-width: 768px) {
        .information-store-content {
          width: 100%; } }
      .information-store-content__title {
        font-size: .85em;
        padding: 2px 0;
        color: #FFFFFF;
        background-color: #ea441c; }

.icon {
  color: #00bbca;
  font-size: 4.5em; }

.item__icon {
  width: 120px;
  height: 120px;
  border-radius: 80px;
  background-color: #FFFFFF; }

.item-content {
  text-align: justify;
  font-size: .8em;
  padding: 3px 15px; }

.side-Wall {
  max-height: 300px;
  height: 650px;
  background: url(../img/ParedLateral.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; }
  @media screen and (min-width: 768px) {
    .side-Wall {
      height: 420px; } }
  @media only screen and (min-width: 1024px) {
    .side-Wall {
      height: 780px;
      max-height: 450px;
      background: url(../img/ParedLateral.jpg);
      background-size: cover; } }
  @media only screen and (min-width: 1440px) {
    .side-Wall {
      max-height: 625px; } }
