* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body,
html {
  font-family: 'Libre Baskerville', serif;
  overflow-x: hidden; }

.login {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #007bff; }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 20px 0; }
  .form__input {
    font-size: 1em;
    width: 300px;
    height: 40px;
    border-radius: 8px;
    background-color: #FFFFFF;
    text-align: left;
    padding-left: 3px;
    margin: 5px 0;
    border: none; }

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 200px;
  border: 1.5px solid #ea441c; }

.fas {
  color: #ea441c; }

.button-save {
  font-size: 1em;
  width: 300px;
  height: 40px;
  border-radius: 8px;
  text-align: left;
  padding-left: 3px;
  margin: 5px 0;
  background-color: #ea441c;
  border: none;
  color: #FFFFFF;
  text-align: center; }
