* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body,
html {
  font-family: 'Libre Baskerville', serif;
  overflow-x: hidden; }

.login {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #007bff;
  background-position: bottom;
  background-size: cover; }
  .login-lbl {
    color: #ff9c00; }
  .login_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .login_header-user {
      width: 100px;
      height: 100px;
      border: 1px solid #ff9c00; }
  .login-card {
    width: 80vw;
    height: 500px;
    background-color: rgba(117, 111, 111, 0.75);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }
  .login__form {
    padding: 15px 5px; }
  @media only screen and (min-width: 768px) {
    .login {
      -webkit-box-shadow: 0px -7px 143px -9px rgba(0, 0, 0, 0.48);
      box-shadow: 0px -7px 143px -9px rgba(0, 0, 0, 0.48); } }
  @media only screen and (min-width: 1024px) {
    .login {
      height: 100vh; } }
  .login input {
    width: 95%;
    height: 60px;
    border-radius: 10px 10px 10px 10px;
    font-size: 1.5em; }

.text-label {
  font-size: 2em; }

.btn-login {
  height: 50px;
  background-color: #007bff;
  font-size: 2em;
  border-radius: 5px; }
